{% extends "base.html" %}


{% load bootstrap3 %}
{% block content %}

 <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="{% url 'home' %}" class="logo"><b>Wall Path Survey</b></a>
            <!--logo end-->

            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    {% if not user.is_authenticated %}
                    <li> <a class="logout"
				  href="{% url 'django.contrib.auth.views.login' %}">Sign in</a></li>
                    {% else %}

                    <li><a class="logout" href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
                    {% endif %}
            	</ul>
            </div>
        </header>


{% if  user.is_authenticated %}

    <div class="col-md-12 mt" style = 'padding-top:40px'>
	                  	<div class="content-panel">
	                          <table class="table table-hover">
	                  	  	  <h4><i class="fa fa-angle-right"></i> Survey List</h4>
	                  	  	  <hr>
	                              <thead>
	                              <tr>
	                                  <th>#</th>
	                                  <th>Answer</th>
                                      <th>Choice</th>
	                                  <th>Delay Counter</th>
                                      <th>Created At</th>

	                              </tr>
	                              </thead>
	                              <tbody>
                                  {% for i in surveys %}
	                              <tr>
	                                  <th>{{i.id}}</th>
	                                  <th>{{i.answers}}</th>
                                      <th>{{i.choices}}</th>
	                                  <th>{{i.delay_counter}}</th>
                                      <th>{{i.created_at}}</th>
	                              </tr>
                                  {% endfor %}

	                              </tbody>
	                          </table>
	                  	  </div><! --/content-panel -->
	                  </div><!-
        >-

 {% endif %}

{% endblock content %}
